@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background-100 text-diesel-950;
    }
}

@layer components {
    .form-input {
        @apply mt-1 appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-primary-700 focus:border-primary-700 sm:text-sm;
    }

    .form-label {
        @apply block text-sm font-medium text-gray-700;
    }

    .form-select {
        @apply mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-primary-700 focus:border-primary-700 sm:text-sm rounded-md;
    }

    .submit-button {
        @apply w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-primary-500 hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-600;
    }

    .save-button {
        @apply inline-flex items-center justify-center whitespace-nowrap py-1 px-4 border border-transparent rounded-md bg-primary-500 text-white shadow hover:bg-primary-600;
    }

    .outline-button {
        @apply inline-flex items-center justify-center whitespace-nowrap py-1 px-4 border border-primary-500 rounded-md text-primary-500 font-medium shadow hover:bg-primary-50;
    }

    .cancel-button {
        @apply inline-flex items-center justify-center whitespace-nowrap py-1 px-4 border border-transparent rounded-md bg-gray-400 text-white shadow hover:bg-gray-500;
    }

    .table-button {
        @apply inline-flex items-center justify-center whitespace-nowrap py-1 px-4 border border-transparent rounded-md bg-black/70 text-white shadow hover:bg-black/80;
    }

    .table-button-outline {
        @apply inline-flex items-center justify-center whitespace-nowrap py-1 px-4 border border-black/70 rounded-md text-black/70 font-medium shadow hover:bg-black/10;
    }

    .delete-button {
        @apply inline-flex items-center justify-center whitespace-nowrap py-1 px-4 border border-transparent rounded-md bg-red-500 text-white shadow hover:bg-red-600;
    }

    .badge-blood-group {
        @apply inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-primary-100 text-primary-800;
    }
}
